@font-face {
	font-family: "Incised";
	font-display: swap;
	src: url("../fonts/incised901bt_compact.woff2") format("woff2"),
		url("../fonts/incised901bt_compact.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
